@font-face {
  font-family: "Lab Grotesque";
  src: url("./fonts/LabGrotesque/LabGrotesque-BoldItalic.eot");
  src: local("Lab Grotesque Bold Italic"), local("LabGrotesque-BoldItalic"), url("./fonts/LabGrotesque/LabGrotesque-BoldItalic.eot?#iefix") format("embedded-opentype"), url("./fonts/LabGrotesque/LabGrotesque-BoldItalic.woff") format("woff"), url("./fonts/LabGrotesque/LabGrotesque-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Lab Grotesque";
  src: url("./fonts/LabGrotesque/LabGrotesque-Light.eot");
  src: local("Lab Grotesque Light"), local("LabGrotesque-Light"), url("./fonts/LabGrotesque/LabGrotesque-Light.eot?#iefix") format("embedded-opentype"), url("./fonts/LabGrotesque/LabGrotesque-Light.woff") format("woff"), url("./fonts/LabGrotesque/LabGrotesque-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Lab Grotesque";
  src: url("./fonts/LabGrotesque/LabGrotesque-MediumItalic.eot");
  src: local("Lab Grotesque Medium Italic"), local("LabGrotesque-MediumItalic"), url("./fonts/LabGrotesque/LabGrotesque-MediumItalic.eot?#iefix") format("embedded-opentype"), url("./fonts/LabGrotesque/LabGrotesque-MediumItalic.woff") format("woff"), url("./fonts/LabGrotesque/LabGrotesque-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Lab Grotesque";
  src: url("./fonts/LabGrotesque/LabGrotesque-Regular.eot");
  src: local("Lab Grotesque Regular"), local("LabGrotesque-Regular"), url("./fonts/LabGrotesque/LabGrotesque-Regular.eot?#iefix") format("embedded-opentype"), url("./fonts/LabGrotesque/LabGrotesque-Regular.woff") format("woff"), url("./fonts/LabGrotesque/LabGrotesque-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lab Grotesque";
  src: url("./fonts/LabGrotesque/LabGrotesque-LightItalic.eot");
  src: local("Lab Grotesque Light Italic"), local("LabGrotesque-LightItalic"), url("./fonts/LabGrotesque/LabGrotesque-LightItalic.eot?#iefix") format("embedded-opentype"), url("./fonts/LabGrotesque/LabGrotesque-LightItalic.woff") format("woff"), url("./fonts/LabGrotesque/LabGrotesque-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Lab Grotesque";
  src: url("./fonts/LabGrotesque/LabGrotesque-Italic.eot");
  src: local("Lab Grotesque Italic"), local("LabGrotesque-Italic"), url("./fonts/LabGrotesque/LabGrotesque-Italic.eot?#iefix") format("embedded-opentype"), url("./fonts/LabGrotesque/LabGrotesque-Italic.woff") format("woff"), url("./fonts/LabGrotesque/LabGrotesque-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Lab Grotesque";
  src: url("./fonts/LabGrotesque/LabGrotesque-Black.eot");
  src: local("Lab Grotesque Black"), local("LabGrotesque-Black"), url("./fonts/LabGrotesque/LabGrotesque-Black.eot?#iefix") format("embedded-opentype"), url("./fonts/LabGrotesque/LabGrotesque-Black.woff") format("woff"), url("./fonts/LabGrotesque/LabGrotesque-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Lab Grotesque";
  src: url("./fonts/LabGrotesque/LabGrotesque-Medium.eot");
  src: local("Lab Grotesque Medium"), local("LabGrotesque-Medium"), url("./fonts/LabGrotesque/LabGrotesque-Medium.eot?#iefix") format("embedded-opentype"), url("./fonts/LabGrotesque/LabGrotesque-Medium.woff") format("woff"), url("./fonts/LabGrotesque/LabGrotesque-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Lab Grotesque";
  src: url("./fonts/LabGrotesque/LabGrotesque-BlackItalic.eot");
  src: local("Lab Grotesque Black Italic"), local("LabGrotesque-BlackItalic"), url("./fonts/LabGrotesque/LabGrotesque-BlackItalic.eot?#iefix") format("embedded-opentype"), url("./fonts/LabGrotesque/LabGrotesque-BlackItalic.woff") format("woff"), url("./fonts/LabGrotesque/LabGrotesque-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Lab Grotesque";
  src: url("./fonts/LabGrotesque/LabGrotesque-Bold.eot");
  src: local("Lab Grotesque Bold"), local("LabGrotesque-Bold"), url("./fonts/LabGrotesque/LabGrotesque-Bold.eot?#iefix") format("embedded-opentype"), url("./fonts/LabGrotesque/LabGrotesque-Bold.woff") format("woff"), url("./fonts/LabGrotesque/LabGrotesque-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Lab Grotesque";
  font-size: 16px;
}

body {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
body .container {
  width: 100%;
  position: relative;
  color: rgb(51, 51, 51);
}
body .container > input {
  display: none;
}
body .container > input:checked ~ header {
  height: 650px;
  box-shadow: 0px 50px 50px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
body .container header {
  height: 70px;
  background-color: rgba(255, 255, 255, 0.75);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 100;
  padding: 23px 5%;
  transition: 0.2s;
}
body .container header .logo {
  margin-right: auto;
}
body .container header .logo span {
  font-size: 1.5rem;
  font-weight: 900;
}
body .container header .logo img {
  padding-left: 3px;
  width: 20px;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body .container header > input {
  display: none;
}
body .container header > input:checked ~ nav {
  -webkit-animation: fade-in 1s forwards;
          animation: fade-in 1s forwards;
}
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
body .container header nav {
  display: flex;
  width: max(60%, 540px);
  justify-content: space-between;
}
body .container header nav ul {
  display: flex;
  gap: 50px;
  list-style: none;
}
body .container header nav.active {
  position: fixed;
  top: 100px;
  border: 2px solid red;
  width: 100%;
  padding: 1% 5%;
  flex-direction: column;
  gap: 50px;
  opacity: 0;
  -webkit-animation: fade-out 0.1s forwards;
          animation: fade-out 0.1s forwards;
  padding-bottom: 80px;
}
body .container header nav.active ul {
  flex-direction: column;
  gap: 60px;
}
body .container header nav.active ul li {
  font-size: 1.25rem;
}
body .container header nav.active div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #04ddb2;
  height: 50px;
  border-radius: 50px;
}
body .container header nav.active div a {
  font-size: 1.25rem;
}
body .container main {
  margin-top: 90px;
}
body .container main .hero {
  text-align: center;
  padding: 50px 20px;
}
body .container main .hero p:nth-of-type(1) {
  word-spacing: 14px;
}
body .container main .hero p span {
  text-transform: capitalize;
  font-size: 5rem;
  font-weight: 900;
}
body .container main .hero p span:nth-of-type(2) {
  color: #04ddb2;
}
body .container main .hero p:nth-of-type(2) {
  font-size: 2rem;
}
body .container main .bigImage {
  padding: 30px;
  display: flex;
  justify-content: center;
}
body .container main .bigImage .collectionBackground {
  display: flex;
  justify-content: center;
}
body .container main .bigImage .collectionBackground img {
  max-width: 64%;
  border-radius: 20px;
  cursor: pointer;
  transition: all ease-in-out 0.23s;
}
body .container main .bigImage .collectionBackground img:hover {
  box-shadow: 0px 60px 100px 0px rgba(0, 0, 0, 0.15);
  scale: 1.01;
}
body .container main .train {
  text-align: center;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
body .container main .train span {
  font-size: 5rem;
  font-weight: 900;
}
body .container main .train a {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 200px;
  background-color: #04ddb2;
  text-decoration: none;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all ease 0.2s;
}
body .container main .train a button {
  font-weight: 700;
  text-transform: capitalize;
  color: white;
  cursor: pointer;
  border: none;
  background-color: inherit;
  font-size: 1.5rem;
}
body .container main .train a:hover {
  scale: 1.02;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}
body .container footer {
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid rgba(51, 51, 51, 0.3);
  margin: 100px 10%;
  padding: 100px 0;
}
body .container footer > div .logo {
  cursor: pointer;
}
body .container footer > div .logo span {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: lowercase;
}
body .container footer > div .logo img {
  width: 20px;
  padding-left: 3px;
}
body .container footer > div .text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 25px;
}
body .container footer > div .text span {
  font-size: 1.25rem;
}
body .container footer > div > span {
  font-weight: 700;
  text-transform: capitalize;
  font-size: 1.25rem;
}
body .container footer > div > ul {
  list-style-type: none;
  text-transform: capitalize;
}
body .container footer > div > ul li {
  font-size: 1.25rem;
  transition: all ease 0.25s;
  cursor: pointer;
}
body .container footer > div > ul li:hover {
  scale: 1.05;
}
body .container footer .socials {
  display: flex;
  gap: 20px;
}
body .container footer .socials box-icon {
  transition: all ease 0.25s;
  cursor: pointer;
}
body .container footer .socials box-icon:hover {
  scale: 1.2;
}/*# sourceMappingURL=index.css.map */