// ! breakpoints
$breakpoints: ("tablet": 970px, "laptop": 971px);

@mixin tablet {
    @media (max-width: map-get($breakpoints, "tablet")) {
        @content
    }
}

;

@mixin laptop {
    @media (min-width: map-get($breakpoints, "laptop")) {
        @content
    }
}

;

@mixin breakpoint($bp:0) {
    @media (min-width: $bp) {
        @content
    }
}

;

// ? fonts
@font-face {
    font-family: 'Lab Grotesque';
    src: url('./fonts/LabGrotesque/LabGrotesque-BoldItalic.eot');
    src: local('Lab Grotesque Bold Italic'), local('LabGrotesque-BoldItalic'),
        url('./fonts/LabGrotesque/LabGrotesque-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/LabGrotesque/LabGrotesque-BoldItalic.woff') format('woff'),
        url('./fonts/LabGrotesque/LabGrotesque-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Lab Grotesque';
    src: url('./fonts/LabGrotesque/LabGrotesque-Light.eot');
    src: local('Lab Grotesque Light'), local('LabGrotesque-Light'),
        url('./fonts/LabGrotesque/LabGrotesque-Light.eot?#iefix') format('embedded-opentype'),
        url('./fonts/LabGrotesque/LabGrotesque-Light.woff') format('woff'),
        url('./fonts/LabGrotesque/LabGrotesque-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lab Grotesque';
    src: url('./fonts/LabGrotesque/LabGrotesque-MediumItalic.eot');
    src: local('Lab Grotesque Medium Italic'), local('LabGrotesque-MediumItalic'),
        url('./fonts/LabGrotesque/LabGrotesque-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/LabGrotesque/LabGrotesque-MediumItalic.woff') format('woff'),
        url('./fonts/LabGrotesque/LabGrotesque-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Lab Grotesque';
    src: url('./fonts/LabGrotesque/LabGrotesque-Regular.eot');
    src: local('Lab Grotesque Regular'), local('LabGrotesque-Regular'),
        url('./fonts/LabGrotesque/LabGrotesque-Regular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/LabGrotesque/LabGrotesque-Regular.woff') format('woff'),
        url('./fonts/LabGrotesque/LabGrotesque-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lab Grotesque';
    src: url('./fonts/LabGrotesque/LabGrotesque-LightItalic.eot');
    src: local('Lab Grotesque Light Italic'), local('LabGrotesque-LightItalic'),
        url('./fonts/LabGrotesque/LabGrotesque-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/LabGrotesque/LabGrotesque-LightItalic.woff') format('woff'),
        url('./fonts/LabGrotesque/LabGrotesque-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Lab Grotesque';
    src: url('./fonts/LabGrotesque/LabGrotesque-Italic.eot');
    src: local('Lab Grotesque Italic'), local('LabGrotesque-Italic'),
        url('./fonts/LabGrotesque/LabGrotesque-Italic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/LabGrotesque/LabGrotesque-Italic.woff') format('woff'),
        url('./fonts/LabGrotesque/LabGrotesque-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Lab Grotesque';
    src: url('./fonts/LabGrotesque/LabGrotesque-Black.eot');
    src: local('Lab Grotesque Black'), local('LabGrotesque-Black'),
        url('./fonts/LabGrotesque/LabGrotesque-Black.eot?#iefix') format('embedded-opentype'),
        url('./fonts/LabGrotesque/LabGrotesque-Black.woff') format('woff'),
        url('./fonts/LabGrotesque/LabGrotesque-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Lab Grotesque';
    src: url('./fonts/LabGrotesque/LabGrotesque-Medium.eot');
    src: local('Lab Grotesque Medium'), local('LabGrotesque-Medium'),
        url('./fonts/LabGrotesque/LabGrotesque-Medium.eot?#iefix') format('embedded-opentype'),
        url('./fonts/LabGrotesque/LabGrotesque-Medium.woff') format('woff'),
        url('./fonts/LabGrotesque/LabGrotesque-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Lab Grotesque';
    src: url('./fonts/LabGrotesque/LabGrotesque-BlackItalic.eot');
    src: local('Lab Grotesque Black Italic'), local('LabGrotesque-BlackItalic'),
        url('./fonts/LabGrotesque/LabGrotesque-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/LabGrotesque/LabGrotesque-BlackItalic.woff') format('woff'),
        url('./fonts/LabGrotesque/LabGrotesque-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Lab Grotesque';
    src: url('./fonts/LabGrotesque/LabGrotesque-Bold.eot');
    src: local('Lab Grotesque Bold'), local('LabGrotesque-Bold'),
        url('./fonts/LabGrotesque/LabGrotesque-Bold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/LabGrotesque/LabGrotesque-Bold.woff') format('woff'),
        url('./fonts/LabGrotesque/LabGrotesque-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

$background:rgb(255, 255, 255);
$gray-text:rgb(51, 51, 51);
$green-text:#04ddb2;

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Lab Grotesque";
    font-size: 16px;
}

body {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;

    .container {
        width: 100%;
        position: relative;
        color: $gray-text;

        // header {
        //     display: flex;
        //     justify-content: space-between;
        //     padding: 20px 4%;
        //     align-items: center;
        //     position: fixed;
        //     top: 0;
        //     width: 100%;
        //     background: rgb(255, 255, 255, .75);
        //     backdrop-filter: blur(40px);
        //     z-index: 2;

        //     .logo {
        //         cursor: pointer;

        //         span {
        //             font-size: 1.75rem;
        //             font-weight: 700;
        //         }

        //         img {
        //             width: 25px;
        //             padding-left: 3px;
        //         }
        //     }

        //     nav {
        //         input {
        //             display: none;

        //             &:checked~ul {
        //                 transform: (none);
        //             }
        //         }

        //         ul {
        //             list-style-type: none;
        //             display: flex;
        //             align-items: center;
        //             gap: 50px;
        //             transform: translate(0%, -150%);
        //             transition: .3s;

        //             @include tablet() {
        //                 flex-direction: column;
        //                 border-top: .5px solid rgb(51, 51, 51, .15);
        //                 position: absolute;
        //                 width: 100%;
        //                 height: 450px;
        //                 left: 0;
        //                 top: 75px;
        //                 align-items: flex-start;
        //                 padding: 4% 30px;
        //                 background-color: rgb(255, 255, 255, .75);
        //                 backdrop-filter: blur(10px);
        //                 box-shadow: 0px 50px 50px 5px rgb(0, 0, 0, .25);
        //             }

        //             li {
        //                 text-transform: capitalize;
        //                 font-size: 1.1rem;
        //                 color: rgb(51, 51, 51, .7);
        //                 cursor: pointer;
        //                 font-weight: 600;
        //                 transition: all ease .3s;

        //                 &:hover {
        //                     color: $gray-text;
        //                     scale: 1.1;
        //                 }
        //             }

        //             .active {
        //                 color: $gray-text;
        //             }
        //         }

        //         div {
        //             display: none;

        //             input {
        //                 &:checked~a {
        //                     display: block;
        //                 }
        //             }

        //             @include tablet() {
        //                 width: 100%;
        //                 position: absolute;
        //                 left: 0;
        //                 bottom: -420px;
        //                 display: flex;
        //                 align-items: center;
        //                 justify-content: center;

        //                 a {
        //                     width: 90%;
        //                     text-align: center;
        //                 }
        //             }
        //         }
        //     }

        //     a {
        //         background-color: $green-text;
        //         padding: 15px 30px;
        //         border-radius: 50px;
        //         text-transform: capitalize;
        //         color: white;
        //         text-decoration: none;
        //         font-weight: 700;
        //         font-size: 1.1rem;
        //         transition: all ease .2s;
        //         cursor: pointer;

        //         @include tablet() {
        //             display: none;
        //         }

        //         &:hover {
        //             scale: 1.05;
        //         }
        //     }

        //     .hamburger {
        //         display: none;

        //         @include tablet() {
        //             display: flex;
        //             flex-direction: column;
        //             align-items: center;
        //             justify-content: center;
        //             gap: 3px;
        //             position: relative;
        //             user-select: none;
        //             appearance: none;
        //             height: 35px;
        //             width: 35px;
        //             background-color: rgb(238, 240, 242);
        //             border-radius: 50%;
        //             outline: none;
        //             border: none;
        //             cursor: pointer;

        //             input {
        //                 cursor: pointer;
        //                 position: absolute;
        //                 display: block;
        //                 width: inherit;
        //                 height: 100%;
        //                 z-index: 1;
        //                 opacity: 0;
        //                 -webkit-touch-callout: none;

        //                 &:checked {
        //                     ~span {
        //                         transform: rotate(45deg) translate(2.5px, -1px);

        //                         &:nth-child(3) {
        //                             opacity: 0;
        //                             transform: rotate(0deg) scale(0.2, 0.2);
        //                         }

        //                         &:nth-child(4) {
        //                             transform: rotate(-45deg) translate(.5px, 0px);
        //                         }
        //                     }
        //                 }
        //             }

        //             // }
        //             // &:hover {
        //             //     span {
        //             //         &:nth-child(3) {
        //             //             transform: translateX(10px);
        //             //         }
        //             //     }
        //             // }

        //             span {
        //                 &:nth-child(1) {
        //                     transform-origin: 0% 0%;
        //                 }

        //                 &:nth-child(3) {
        //                     transform-origin: 0% 100%;
        //                 }

        //                 display: block;
        //                 width: 20px;
        //                 height: 2px;
        //                 position: relative;
        //                 border-radius: 10px;
        //                 transform-origin: 4px 0;
        //                 transition: .3s;
        //                 background-color: $gray-text;
        //             }
        //         }
        //     }
        // }

        >input {
            display: none;

            &:checked~header {
                height: 650px;
                box-shadow: 0px 50px 50px 5px rgba(0, 0, 0, 0.2);
                overflow: hidden;
            }
        }

        header {
            height: 70px;
            background-color: rgb(255, 255, 255, .75);
            backdrop-filter: blur(20px);
            display: flex;
            align-items: flex-start;
            justify-content: center;
            position: fixed;
            width: 100%;
            z-index: 100;
            padding: 23px 5%;
            transition: .2s;

            .logo {
                margin-right: auto;

                span {
                    font-size: 1.5rem;
                    font-weight: 900;
                }

                img {
                    padding-left: 3px;
                    width: 20px;
                }
            }

            @keyframes fade-in {
                0% {
                    opacity: 0;
                }

                100% {
                    opacity: 1;
                }
            }

            >input {
                display: none;

                &:checked~nav {
                    animation: fade-in 1s forwards;
                }
            }

            @keyframes fade-out {
                0% {
                    opacity: 1;
                }

                100% {
                    opacity: 0;
                }
            }

            nav {
                display: flex;
                width: max(60%, 540px);
                justify-content: space-between;

                ul {
                    display: flex;
                    gap: 50px;
                    list-style: none;
                }

                &.active {
                    position: fixed;
                    top: 100px;
                    border: 2px solid red;
                    width: 100%;
                    padding: 1% 5%;
                    flex-direction: column;
                    gap: 50px;
                    opacity: 0;
                    animation: fade-out .1s forwards;
                    padding-bottom: 80px;

                    ul {
                        flex-direction: column;
                        gap: 60px;

                        li {
                            font-size: 1.25rem;
                        }
                    }

                    div {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: #04ddb2;
                        height: 50px;
                        border-radius: 50px;

                        a {
                            font-size: 1.25rem;
                        }
                    }
                }
            }

            button {
                // display: none;
            }

            // .mobileMenu {
            //     position: absolute;
            //     background-color: rgb(255, 0, 0, .3);
            //     backdrop-filter: blur(20px);
            //     top: 200px;
            //     width: 100%;
            // }
        }

        main {
            margin-top: 90px;

            .hero {
                text-align: center;
                padding: 50px 20px;

                p {
                    &:nth-of-type(1) {
                        word-spacing: 14px;
                    }

                    span {
                        text-transform: capitalize;
                        font-size: 5rem;
                        font-weight: 900;

                        &:nth-of-type(2) {
                            color: $green-text;
                        }
                    }

                    &:nth-of-type(2) {
                        font-size: 2rem;
                    }
                }
            }

            .bigImage {
                padding: 30px;
                display: flex;
                justify-content: center;

                .collectionBackground {
                    display: flex;
                    justify-content: center;

                    img {
                        max-width: 64%;
                        border-radius: 20px;
                        cursor: pointer;
                        transition: all ease-in-out .23s;

                        &:hover {
                            box-shadow: 0px 60px 100px 0px rgb(0, 0, 0, .15);
                            scale: 1.01;
                        }
                    }
                }
            }

            .train {
                text-align: center;
                padding: 50px;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 30px;

                span {
                    font-size: 5rem;
                    font-weight: 900;
                }

                a {
                    height: 65px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50px;
                    width: 200px;
                    background-color: $green-text;
                    text-decoration: none;
                    font-size: 1.5rem;
                    cursor: pointer;
                    transition: all ease .2s;

                    button {
                        font-weight: 700;
                        text-transform: capitalize;
                        color: white;
                        cursor: pointer;
                        border: none;
                        background-color: inherit;
                        font-size: 1.5rem;
                    }

                    &:hover {
                        scale: 1.02;
                        box-shadow: 0px 5px 10px rgb(0, 0, 0, .1);
                    }
                }
            }
        }

        footer {
            display: flex;
            justify-content: space-evenly;
            border-top: 1px solid rgb(51, 51, 51, .3);
            margin: 100px 10%;
            padding: 100px 0;

            >div {
                .logo {
                    cursor: pointer;

                    span {
                        font-size: 1.25rem;
                        font-weight: 700;
                        text-transform: lowercase;
                    }

                    img {
                        width: 20px;
                        padding-left: 3px;
                    }
                }

                .text {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    padding-top: 25px;

                    span {
                        font-size: 1.25rem;
                    }
                }

                >span {
                    font-weight: 700;
                    text-transform: capitalize;
                    font-size: 1.25rem;
                }

                >ul {
                    list-style-type: none;
                    text-transform: capitalize;

                    li {
                        font-size: 1.25rem;
                        transition: all ease .25s;
                        cursor: pointer;

                        &:hover {
                            scale: 1.05;
                        }
                    }
                }
            }

            .socials {
                display: flex;
                gap: 20px;

                box-icon {
                    transition: all ease .25s;
                    cursor: pointer;

                    &:hover {
                        scale: 1.2;
                    }
                }
            }
        }




        @include tablet {
            // &::after {
            //     content: "tablet view";
            // }
        }

        @include laptop {
            // &::after {
            //     content: "laptop view";
            // }
        }
    }
}